.hero-section {
    margin-top: 72px;
    height: 500px;
    background-image: url("https://www.ohanaliving.vn/542ac03681516bcca0dd605bedd41a2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} 